<ng-container *ngIf="product">
  <div class="container">
    <div class="product-detail-image-container">
      <a class="back-tag" href="#" onclick="window.history.back(); return false;"><u>← Back</u></a>
      <mat-card>
        <mat-card-content>
          <img src="{{product.image}}" class="product-detail-image">
        </mat-card-content>
      </mat-card>
    </div>
    <div class="product-detail-info-container">
      <mat-card>
        <mat-card-header style="margin-bottom: 20px">
          <div class="product-detail-title">
            {{product.name}}
          </div>
        </mat-card-header>
        <mat-card-content>
          <div class="product-detail-teacher">
            {{product.teacherName}}
          </div>
          <div class="product-detail-description">
            <h2>Course Description:</h2>
            {{product.description}}
          </div>
          <h2>Course Content:</h2>

          <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
            <!-- This is the tree node template for leaf nodes -->
            <!-- There is inline padding applied to this node using styles.
              This padding value depends on the mat-icon-button width. -->
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
              <ng-container *ngIf="node.url;else noUrl">
                <a [href]="node.url" target="_blank"> <u>{{node.name}}</u> </a>
              </ng-container>
              <ng-template #noUrl>
                {{node.name}}
              </ng-template>

            </mat-tree-node>

            <!-- This is the tree node template for expandable nodes -->
            <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
              <div class="mat-tree-node">
                <button mat-icon-button matTreeNodeToggle
                        [attr.aria-label]="'Toggle ' + node.name">
                  <mat-icon class="mat-icon-rtl-mirror">
                    {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                  </mat-icon>
                </button>
                {{node.name}}
              </div>
              <!-- There is inline padding applied to this div using styles.
                  This padding value depends on the mat-icon-button width.  -->
              <div [class.example-tree-invisible]="!treeControl.isExpanded(node)"
                   role="group">
                <ng-container matTreeNodeOutlet></ng-container>
              </div>
            </mat-nested-tree-node>
          </mat-tree>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="product-detail-info-cart-button-container">
      <div class="product-detail-info-price">
        {{product.price | currency:'USD'}}
      </div>
      <ng-container *ngIf="!ifInCart(product);else ExistInCart">
        <button mat-raised-button color="accent" style="width: 200px; margin-bottom: 30px" (click)="addToCart(product)">Add to Cart</button>
      </ng-container>
      <ng-template #ExistInCart>
        <button mat-raised-button disabled style="width: 200px; margin-bottom: 30px">Already in the Cart</button>
      </ng-template>

      <button mat-raised-button color="primary" style="width: 200px">Buy Now</button>
    </div>
  </div>

  <div>
    <mat-divider style="margin-top: 20px"></mat-divider>
    <h1>Reviews</h1>
  </div>
</ng-container>



