<mat-toolbar color="primary" class="sticky">
  <mat-toolbar-row fxLayoutAlign="space-between center">
    <div fxLayout="row">
      <button mat-button>
        <mat-icon>home</mat-icon>
        <span class="logo">{{title}}</span>
      </button>
      <div *ngIf="!deviceXs" fxLayout="row">
        <button mat-button routerLink="/courses" routerLinkActive="my-active">Courses</button>
      </div>
    </div>
    <div>
      <span class="example-spacer"></span>
      <app-shopping-cart style="margin-right: 10px"></app-shopping-cart>
      <ng-container *ngIf="!auth.user; else logoutTemplate">
        <button mat-raised-button (click)="openLoginDialog()">
          <span>Login</span>
        </button>
      </ng-container>
      <!-- in angular 6, ngIf else        -->
      <ng-template #logoutTemplate>
        <span>Hello, </span>
        <button mat-button [matMenuTriggerFor]="menu"><u>{{auth.user?.username}}</u></button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/user">Management</button>
          <button mat-menu-item (click)="auth.logout()">
            <span>Logout</span>
          </button>
        </mat-menu>


      </ng-template>

    </div>
  </mat-toolbar-row>
  <mat-toolbar-row *ngIf="deviceXs" fxLayoutAlign="space-between end">
    <button mat-button routerLink="/home" routerLinkActive="my-active">Home</button>
    <button mat-button routerLink="/courses" routerLinkActive="my-active">Courses</button>
    <button mat-button>Contact us</button>
  </mat-toolbar-row>
</mat-toolbar>

