
<h1 mat-dialog-title>Register</h1>
<div mat-dialog-content>
  <div *ngIf="errorMessage" style="color: red"> * {{errorMessage}} </div>
  <form fxLayout="column" [formGroup]="registerFormGroup">
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input type="text" matInput formControlName="username">
      <mat-error *ngIf="registerFormGroup.get('username')?.getError('required')">Username is required</mat-error>
    </mat-form-field>
    <div fxLayout="column" formGroupName="passwordGroup">
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password">
        <mat-error>Password is required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Confirm Password</mat-label>
        <input type="password" matInput formControlName="confirmPassword">
      </mat-form-field>
      <mat-error>{{registerFormGroup.get('passwordGroup')?.getError('passwordNotMatch')}}</mat-error>
    </div>

    <mat-checkbox formControlName="isTeacher">Are you a teacher?</mat-checkbox>
    <p>
      <button type="submit" mat-raised-button color="primary" (click)="register()">Register</button>
      <button mat-button mat-dialog-close>Cancel</button>
    </p>
  </form>
</div>
<!--<div mat-dialog-actions>-->
<!--  <button mat-raised-button (click)="register()">Register</button>-->
<!--  <button mat-button mat-dialog-close>Cancel</button>-->
<!--</div>-->

