<article [class.content]="!deviceXs" [class.content-mob]="deviceXs" (scroll)="onScroll($event)">
  <mat-toolbar>
    <button *ngIf="deviceXs" type="button" mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    Filter
  </mat-toolbar>
  <mat-drawer-container class="example-container">
    <mat-drawer #drawer [mode]="deviceXs?'over':'side'" [opened]="deviceXs?false:true" position="start" fxFlex="20"
                fxLayout="column" fxLayoutAlign="start space-between" [style.marginTop.px]="10" [style.top.px]="sideBarScroll()">
      <mat-form-field>
        <mat-label>Search</mat-label>
        <input matInput>
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
      <mat-list role="list" class="list-width" *ngFor="let i of [].constructor(20)">
        <mat-list-item role="listitem" class="list-item" matRipple>Side Bar Item List</mat-list-item>
      </mat-list>
    </mat-drawer>

    <mat-drawer-content>
      <div class="example-sidenav-content" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around center">
<!--        <ng-container *ngFor="let i of [].constructor(10)">-->
<!--          <app-courses-overview></app-courses-overview>-->
<!--        </ng-container>-->
        <ng-container *ngIf="products">
          <app-courses-overview [product]="p" *ngFor="let p of products"></app-courses-overview>
        </ng-container>
      </div>
      <mat-paginator [length]="totalElements!"
                     [pageSize]="5"
                     [pageSizeOptions]="[5, 10, 25, 100]"
                     (page)="handlePageEvent($event)"
                     aria-label="Select page">
      </mat-paginator>


    </mat-drawer-content>
  </mat-drawer-container>
</article>
