<div class="container">
  <ng-container *ngIf="!showSpinner;else show">
    <div class="card">
      <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
        <i class="checkmark" style="margin-left: 40px">✓</i>
      </div>
      <h1>Success</h1>
      <p>Purchased successfully!<br/> Enjoy your study!</p>
    </div>
  </ng-container>

  <ng-template #show>
    <div class="centered-div" *ngIf="showSpinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</div>



