.container{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
}

mat-stepper{
 width: 100%;
}

.payment-methods-container{
  flex-shrink: 1; /* Prevents the item from shrinking */
  flex-grow: 0; /* Prevents the item from growing */
  flex-basis: auto; /* Sets the initial size of the item */
}

.order-summary-container{
  flex-shrink: 1; /* Prevents the item from shrinking */
  flex-grow: 0; /* Prevents the item from growing */
  flex-basis: 30%; /* Sets the initial size of the item */
}



