<!--<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">-->

<!--  &lt;!&ndash;- Note that these columns can be defined in any order.-->
<!--        The actual rendered columns are set as a property on the row definition" &ndash;&gt;-->

<!--  &lt;!&ndash; ID Column &ndash;&gt;-->
<!--  <ng-container matColumnDef="id">-->
<!--    <th mat-header-cell *matHeaderCellDef> No. </th>-->
<!--    <td mat-cell *matCellDef="let element"> {{element.id}} </td>-->
<!--  </ng-container>-->

<!--  <ng-container matColumnDef="image">-->
<!--    <th mat-header-cell *matHeaderCellDef> Image </th>-->
<!--    <td mat-cell *matCellDef="let element">-->
<!--      <img [src]="element.image" style="width: 3rem;height: 3rem"> </td>-->
<!--  </ng-container>-->

<!--  &lt;!&ndash; Name Column &ndash;&gt;-->
<!--  <ng-container matColumnDef="name">-->
<!--    <th mat-header-cell *matHeaderCellDef> Name </th>-->
<!--    <td mat-cell *matCellDef="let element"> {{element.name}} </td>-->
<!--  </ng-container>-->

<!--  &lt;!&ndash; Price Column &ndash;&gt;-->
<!--  <ng-container matColumnDef="price">-->
<!--    <th mat-header-cell *matHeaderCellDef> Price </th>-->
<!--    <td mat-cell *matCellDef="let element"> {{element.price}} </td>-->
<!--  </ng-container>-->

<!--  &lt;!&ndash; Sales Column &ndash;&gt;-->
<!--  <ng-container matColumnDef="sales">-->
<!--    <th mat-header-cell *matHeaderCellDef> Sales </th>-->
<!--    <td mat-cell *matCellDef="let element"> {{element.sales}} </td>-->
<!--  </ng-container>-->

<!--  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
<!--  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->
<!--</table>-->

<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field>

<table mat-table
       [dataSource]="dataSource" multiTemplateDataRows
       class="mat-elevation-z8">
  <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
    <th mat-header-cell *matHeaderCellDef> {{column}} </th>
    <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
  </ng-container>
  <ng-container matColumnDef="expand">
    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
        <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
        <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
      </button>
    </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
      <div class="example-element-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <div>
          <img [src]="element.image" class="example-element-diagram">
<!--          <div class="example-element-position"> {{element.id}} </div>-->
<!--          <div class="example-element-symbol"> {{element.name}} </div>-->
<!--          <div class="example-element-name"> {{element.price}} </div>-->
<!--          <div class="example-element-weight"> {{element.sales}} </div>-->
        </div>
        <div class="example-element-description">
          {{element.description}}
<!--          <span class="example-element-description-attribution"> &#45;&#45; Wikipedia </span>-->
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
